langchain
langchain-community
langchain-groq
langchain-chroma
langchain-openai
langchain-experimental
llama-index
langgraph

langchain-cerebras

# Extra runtime libraries
faiss-cpu
chromadb
sentence-transformers
pypdf
unstructured[all-docs]
python-pptx
openpyxl
duckduckgo-search
ddgs
Flask
Flask-Cors
Werkzeug
