langchain
langchain-community
langchain-groq
langchain-chroma
langchain-openai
langchain-experimental
llama-index
langgraph

langgraph[tooling]

langchain>=0.2.1

langchain-cerebras

# Extra runtime libraries
faiss-cpu
chromadb
gradio
sentence-transformers
pypdf
unstructured[all-docs]
python-pptx
openpyxl
duckduckgo-search
ddgs
